{% extends 'base.html.twig' %}

{% block title 'List movies' ~ parent() %}

{% block body %}
        <h2>List movies{{ genre is not null ? ' ' ~ genre.name }}</h2>
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">{{ movie.title }}</a>
                    ({{ movie.genresNames|join(', ') }})
                    <a href="{{ path('app_movie_delete', {'id': movie.id }) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}
